{% extends "base.html" %}

{% block title %}
  Appssassins | Account
{% endblock %}

{% block content %}
<script>
$(function() {
  opts = {paging: false, searching: false, info: false };
  {% if user.assassinsuser.games %}
  $('#currentTable').DataTable(opts);
  {% endif %}

  {% if admin_games %}
  $('#adminTable').DataTable(opts);
  {% endif %}
});
</script>
<div class="row">
  {# Games you're a player in #}
  <div class="col-sm-12">
  {% if user.assassinsuser.games %}
  <h3>Games you are playing</h3>
  <table id="currentTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Game</th>
        <th>Start Date</th>
        <th>Alive/Dead</th>
      </tr>
    </thead>
    <tbody>
    {% for game in user.assassinsuser.games %}
    <tr>
      <td>
        <a href="{% url 'games.views.home' game.id %}">{{ game.name}}</a>
      </td>
      <td>
        {% if game.started %} 
          Game not yet started.
        {% else %}
          {{ game.start_date }}
        {% endif %}
      </td>
      <td>
        {{ game.active_players|length }} Active Players
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>You are not playing any games</h3>
  {% endif %}

	{# Administering games #}
  {% if admin_games %}
  <h3>Games you are administering</h3>
  <table id="adminTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Game</th>
        <th>Start Date</th>
        <th>Alive/Dead</th>
      </tr>
    </thead>
    <tbody>
    {% for game in admin_games %}
    <tr>
      <td>
        <a href="{% url 'games.views.home' game.id %}">{{ game.name}}</a>
      </td>
      <td>
        {% if not game.active %} 
          Game not yet started
        {% else %}
          {{ game.start_date }}
        {% endif %}
      </td>
      <td>
        {{ game.active_players|length }} Active Players
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>You are not administering any games</h3>
  {% endif %}

  {# start a new game #}
  <br/> 
  {# Create Game button #}
  <div><button type="button" 
      class="btn btn-primary btn-lg" 
      data-toggle="modal" 
      data-target="#New">Start a new game
  </button></div>

  {# Create Game modal #}
  <div class="modal fade" id="New" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Start a game</h4>
        </div>

        <div class="modal-body">
          <form name="new_game_form" role="form" action="{% url 'accounts.views.create_game' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="game_name">Game name:</label>
              <input id="game_name" 
              class="form-control" 
              type="text" name="game_name" 
              placeholder="'Butler College Assassins Challenge'">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" 
                data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}


