{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

  <div class="row">
    {# CREATE ACCOUNT #}
    <div class="col-sm-6">
      <form method="post" action="{% url 'accounts.views.create_user' %}">
        {% csrf_token %}
        <h3>Sign Up</h3>
        <div class="form-group">
          <label for="emailInput">Email address</label>
          <input name="email" type="email" class="form-control" id="emailInput" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="firstNameInput">First Name</label>
          <input name="firstname" class="form-control" id="firstNameInput" placeholder="Enter first name">
        </div>
        <div class="form-group">
          <label for="lastNameInput">Last Name</label>
          <input name="lastname" class="form-control" id="lastNameInput" placeholder="Enter last name">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Create Account</button>
      </form>
    </div>

    {# LOGIN USER #}
    <div class="col-sm-6">
      <form method="post" action="{% url 'accounts.views.handle_login' %}">
        {% csrf_token %}
        <h3>Login</h3>
        <div class="form-group">
          <label for="emailInputLogin">Email address</label>
          <input name="email" type="email" class="form-control" id="emailInputLogin" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="passwordInputLogin">Password</label>
          <input name="password" type="password" class="form-control" id="passwordInputLogin" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>

{% endblock %}
