{% extends "base.html" %}

{% block title %}
  Appssassins | {{game.name}}
{% endblock %}

{% block content %}
  <h2>{{game.name}}</h2>

  {# IF admin #}
  {% if admin %}
    {# player list with targets #}
    <table id="playerList" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Player</th>
        <th>Name</th>
        <th>Email</th>
        <th>Number of Kills</th>
        <th>Target</th>
        <th>Remove Player</th>
      </tr>
    </thead>
    <tbody>
    {% for player in game.players %}
      <tr>
        <td>
          {{ player.codename }} 
        </td>
        <td>
          {{ player.assassins_user.user.first_name }} {{player.assassins_user.user.last_name}} 
        </td>
        <td>
          {{ player.assassins_user.user.email }}
        </td>
        <td>
          {{ player.kills|length }}
        </td>
        <td>
          {{ player.codename }}
        </td>
        <td>
          <form class="navbar-form navbar-right" 
                method="post" role="search" 
                action="{% url 'games.views.remove_player' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
              Remove Player
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    {# finish / disband game #}

  {# ELSE user #}
  {% else %}
    {% if not ingame %}
      <div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Enter">Enter game</button>
        <div class="modal fade" id="Enter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">One kills a man, one is an assassin; one kills millions, one is a conqueror; one kills everybody, one is a god.  - <i>Jean Rostand</i></h4>
              </div>
              <div class="modal-body">
                <form role="form" id="submit_create_player" action="{% url 'games.views.create_player' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="codename">Pick your codename and enter the fray</label>
                    <input id="codename" class="form-control" name="codename" type="text">
                  </div>
                  <div class="modal-footer">
                    <input id="game_id" name="game_id" type="hidden" value="{{game.id}}">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">Join</button>
                  </div>
                </form>
              </div>
            </div>
          </div> 
        </div> <!-- end of target info div -->
      </div>

    {% else %}
      {# player #}
      <div id="player info">
      {# target w/ kill button #}
      <!-- Name of person you need to kill -->
      <h1>Hello, {{ user.first_name }}. Your target is {% if target %} <b>{{target}}</b> {% else %} TBA {% endif %}. </h1><br>

      <!-- Submit kill button/modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Kill">Submit a kill</button>
      <div class="modal fade" id="Kill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Submit a kill</h4>
            </div>
            <div class="modal-body">
              <form role="form" id="submit_kill_form" action="{% url 'games.views.submit_kill' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="kill_when">When did you kill them? </label>
                  <input id="kill_date" class="form-control" type="text" name="kill_date" placeholder="Date and time">
                </div>
                <div class="form-group">
                  <label for="kill_where">Where did you kill them? </label>
                  <input id="kill_location" class="form-control" type="text" name="kill_location" placeholder="Your mom's house">
                </div>
                <div class="form-group">
                  <label for="kill_story">Don't stint on the details: </label><br>
                  <textarea name="kill_story" id="kill_story" style="vertical-align:top !important" cols="60" rows="5" placeholder="Enter the story"></textarea>
                </div>
                <div class="modal-footer">
                  <input id="game_id" name="game_id" type="hidden" value="{{game.id}}">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-default">Target K.O.</button>
                </div>
              </form>
            </div>
          </div>
        </div> 
      </div> <!-- end of target info div -->


    {# leave game option #}
    {% endif %} 
  {% endif %} 

  {# leaderboard #}
  {# newsfeed #}
  <h1>{{game_name}} | newsfeed</h1>

<script>
$(document).ready(function() {
  $('#newsfeed').DataTable();
} );
</script>

<!-- Game information table -->
<h3>Click on a kill for more information</h3>
<table id="newsfeed" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th>Killer</th>
            <th>Victims</th>
            <th>Details</th>
        </tr>
    </thead>
</table>
{% endblock %}

