{% extends "base.html" %}

{% block title %}
Appsassins|{{game_name}} newsfeed
{% endblock %}



{% block content %}
<h1>{{game_name}} | newsfeed</h1>

<script>
$(document).ready(function() {
	$('#newsfeed').DataTable();
} );
</script>

<!-- Game information table -->
  <h3>Click on a kill for more information</h3>
  <table id="newsfeed" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Killer</th>
                <th>Victims</th>
                <th>Details</th>
            </tr>
        </thead>
    </table>
{% endblock %}
